@use 'functions' as *;
@use 'variables' as *;

@mixin container($left: 25, $right: 25) {
	padding-left: rem($left);
	padding-right: rem($right);
	@include breakpoint('medium'){
		padding-left: rem(65);
		padding-right: rem(65);
	}
}

@mixin container-custom($width: 1200) {
	width: 100%;
	max-width: rem($width);
	margin-left: auto;
	margin-right: auto;
}

@mixin breakpoint($size) {
	@media (min-width: map-get($breakpoints-up, $size)) {
		@content;
	}
}

@mixin breakpoint-down($size) {
	@media (max-width: map-get($breakpoints-down, $size)) {
		@content;
	}
}