@use '../abstratcs/' as *;

.form{  
  &--inline{   
    @include breakpoint('medium'){
      display: flex;
      align-items: start;
    }  
  }  
 
  &__group{
    width: 100%;
    margin-bottom: rem(20);
    text-align-last: left;
    @include breakpoint('medium'){
      margin-bottom: rem(15);
      margin-right: rem(15);
      flex: 1 0 66%;
    }  
    &--inline{
      @include breakpoint('large'){
        margin-bottom: 0;
      } 
    }      
  }
  input{
    transition: .2s ease;
    height: rem(45);
    border-radius: rem(5);
    padding-left: rem(20);
    width: 100%;
    border: 1px solid $black;
  }
}